<div *ngFor="let cat of cats">

    <h1>{{ cat.name }}</h1>
    <p>Origin: {{ cat.origin }}</p>
    <p>Temperament: {{ cat.temperament }}</p>
    <p>Description: {{ cat.description }}</p>
    <br>

    <h1>{{ cat.name }}</h1>
    <p>Origin: {{ cat.origin }}</p>
    <p>Temperament: {{ cat.temperament }}</p>
    <p>Description: {{ cat.description }}</p>
    <br>
    
    <h1>{{ cat.name }}</h1>
    <p>Origin: {{ cat.origin }}</p>
    <p>Temperament: {{ cat.temperament }}</p>
    <p>Description: {{ cat.description }}</p>

    <img [src]="cat.image" alt="{{ cat.name }}" width="200" height="200">
    <hr>
  </div>
